.profile-sidebar {
    width: 25%;
    background-color: #F3F6FF;
    border-radius: 3%;
    padding: 1rem;
}

.profile-sidebar .profile {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
}
.profile-sidebar .profile img {
    width: 40%;
    border-radius: 50%;
}

.profile-sidebar .profile-container {
  justify-content: center;
  width: 100%;
}

.profile-sidebar .nav-holder {
    display: grid;
    gap: 2rem;
}

.profile-sidebar .nav-holder a:active {
    background-color: #6366F1;
    color: #FFFFFF;
}